<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--</table>-->
<!--    <div>-->
<!--    <table  border="1" cellspacing="0">-->
<!--  <tr>-->
<!--      <th>S.No</th>-->
<!--    <th>Type of Event</th>-->
<!--  </tr>-->
<!--  <body>-->
<!--  {% for i in a %}-->
<!--  <tr>-->
<!--    <th scope="row">{{forloop.counter}}</th>-->
<!--      <td>-->
<!--          <img src="/media/{{i.avatar}}" alt="" class="prod-size" width="100" height="=100">-->
<!--&lt;!&ndash;          <td><img src="/{{ BASIC_DIR }}/{{img.img}}" width="120"/></td>&ndash;&gt;-->
<!--      </td>-->

<!--  </tr>-->
<!--  {% endfor %}-->
<!--&lt;!&ndash;  {% for img in images %}  &ndash;&gt;-->
<!--&lt;!&ndash;      <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>{{img.title}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td><img src="/{{ BASIC_DIR }}/{{img.img}}" width="120"/></td>&ndash;&gt;-->
<!--&lt;!&ndash;      </tr>&ndash;&gt;-->
<!--&lt;!&ndash;     {% endfor %} &ndash;&gt;-->
<!--</body>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->